.header-ecommerce{
    width: 100%;
    height: 6rem;
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoImg{
    width: 5rem;
    height: 5rem;
    margin-left: 20px;
    margin-right: 20px;
    border: solid;
}

.bag-price{
    min-width: 120px;
    border: solid;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.image-itemBag{
    width: 30px;
}
.container-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    border-radius: 10px;
    
}